<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.avisualmeditation.wallpaper.shader-extension</string>
	<key>CFBundleExecutable</key>
	<string>MeditationExtension</string>
	<key>CFBundleName</key>
	<string>Shader Paper</string>
	<key>CFBundleDisplayName</key>
	<string>Shader Paper</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.wallpaper</string>
	</dict>
</dict>
</plist>
